$border: 3px solid $cPurple;

@mixin button {
  position: absolute;
  height: var(--vertical);
  width: 3px;
  background-color: #fff;
  left: 50%;
}

.modal {
  position: absolute;
  top: 20vw;
  left: 20vw;
  border: $border;
  width: 35vmax;
  height: 30vmax;
  background-color: #fff;
  box-shadow: 0 10px 23px rgba(0, 0, 0, 0.25);
  display: none;

  &__header {
    display: flex;
    justify-content: space-between;
    background: $cGradient;
    border-bottom: $border;
    padding: units(0.75) var(--vertical);
    cursor: move;
  }

  &__title {
    @include title;
  }

  &__button {
    @include hideText;

    cursor: pointer;
    height: var(--vertical);
    width: var(--vertical);
    position: relative;

    &::before {
      @include pseudo;
      @include button;

      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      @include pseudo;
      @include button;

      transform: translateX(-50%) rotate(-45deg);
    }
  }

  &__content {
    padding: units(1.5);
  }

  &__footer {
    border-top: $border;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: #000;
  }

  &__list {
    display: flex;
  }

  &__item {
    line-height: var(--vertical);
    padding: units(0.5) var(--vertical);
    font-size: ms(-2);
    border-right: $border;
  }

  &--front {
    z-index: 999;
  }
}
