.c-banner {
  // font-family: 'Space Grotesk Variable', sans-serif;
  white-space: nowrap;
  font-size: ms(-1);
  overflow: hidden;
}

.c-banner__item {
  display: inline-block;

  &:not(:last-child)::after {
    content: '→';
    margin: 0 var(--vertical);
  }
}
