.c-banner {
  white-space: nowrap;
  font-size: ms(-1);
  animation: banner 20s linear infinite;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-variation-settings: 'wdth' 200, 'wght' 900;

  @include mobile {
    font-size: ms(0);
  }
}

.c-banner__item {
  display: inline-block;

  &:not(:last-child)::after {
    content: '→';
    margin: 0 var(--vertical);
  }
}

@keyframes banner {
  0% { right: 0; }
  100% { right: -100%; }
}
