.bigText {
  font-family: 'Agrandir', sans-serif;
  font-weight: normal;
  font-size: ms(-1);
  font-variation-settings: 'wght' 900, 'wdth' 150;
  text-transform: lowercase;
  line-height: var(--vertical);
  color: #fff;
}
