.c-experience {
  padding: var(--vertical);
  font-size: 2vw;
  transition: all 1.5s;

  @include mobile {
    font-size: 12vmin;
  }
}

/* purgecss start ignore */

.c-experience--humidity {
  font-family: 'Tiny Variable', sans-serif;
  font-size: 2.75vw;

  @include mobile {
    font-size: 8vmin;
  }
}

.c-experience--light {
  font-variation-settings: 'wght' 200;
}

.c-experience--dark {
  font-size: 2.75vw;
  font-variation-settings: 'wght' 900;
  color: #fff;

  @include mobile {
    font-size: 12vmin;
  }
}

.c-experience--movement {
  font-family: 'Homecomputer Variable', sans-serif;
  font-variation-settings: 'wght' 500, 'wdth' 115;
  text-transform: uppercase;
  transition: none;
}

.c-experience--sound {
  font-family: 'Agrandir Variable', sans-serif;
  font-size: 2.05vw;
  transition: none;

  @include mobile {
    font-size: 8vmin;
  }
}

.c-experience--temperature {
  font-family: 'Kyiv*Type Serif Variable', serif;
}

.c-experience--vibration {
  font-size: 1.75vw;
  font-family: 'Syne Variable', serif;
  font-variation-settings: 'wght' 400;
  transition: all 250ms;

  @include mobile {
    font-size: 8vmin;
  }
}

/*! purgecss end ignore */

.c-experience__sentence {
  display: none;
  margin: 0 auto;
}
