.c-hero {
  font-size: ms(2);
  max-width: 15em;
  text-align: center;
  font-family: 'Mutator Sans', sans-serif;
  text-transform: uppercase;
  font-variation-settings: 'wdth' 200;
  margin: 0 auto;
}
