.c-logo {
  padding: units(3) units(4);
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2vmin;
  line-height: units(1);
  margin: 0;

  @include mobile {
    margin-top: 1em;
    font-size: 4vmin;
  }
}
