.menu {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    border-left: 3px solid #fff;

    &:nth-child(-n+3) {
      border-bottom: 3px solid #fff;
    }
  }

  .bigText {
    padding: var(--vertical) units(2);
    width: 100%;
    background-color: #000;
  }
}
