$border: 3px solid $cPurple;
$modals: 6;

.modal {
  position: absolute;
  border: $border;
  width: 35vmax;
  background-color: #fff;
  box-shadow: 0 10px 23px rgba(0, 0, 0, 0.25);
  display: none;

  @for $i from 0 through $modals {
    $value: (20 + $i);
    &:nth-last-child(#{$i}) {
      top: $value + vh;
      left: $value + vw;
    }
  }

  &--visible {
    display: block;
  }

  &--front {
    z-index: 999;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    background: $cGradient;
    border-bottom: $border;
    padding: units(0.75) var(--vertical);
    cursor: move;
  }

  .bigText {
    margin: 0;
    pointer-events: none;
  }

  &__button {
    @include hideText;

    height: var(--vertical);
    width: var(--vertical);
    position: relative;

    &::before,
    &::after {
      @include pseudo;

      height: var(--vertical);
      width: 3px;
      background-color: #fff;
      left: 50%;
    }

    &::before {
      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      transform: translateX(-50%) rotate(-45deg);
    }
  }

  &__content {
    padding: units(1.2);
  }

  &__footer {
    border-top: $border;
    width: 100%;
    color: #fff;
    background-color: #000;
  }

  &__list {
    display: flex;
  }

  &__item {
    line-height: var(--vertical);
    width: 50%;
    padding: units(0.5) var(--vertical);
    font-size: ms(-2);

    &:not(:last-child) {
      border-right: $border;
    }
  }
}
