.c-modal {
  position: absolute;
  width: 35vmax;
  background-color: #fff;
  box-shadow: 0 10px 23px rgba(0, 0, 0, 0.25);
  display: flex;
  border: 3px solid #fff;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  z-index: 10;
  transition-property: opacity, visibility;
  transition-duration: 250ms, 200ms;
  transition-delay: 50ms;
}

/* purgecss start ignore */

$offset: 10;
$modals: humidity, light, movement, sound, temperature, vibration;

@each $modal in  $modals {
  .c-modal[data-modal-#{$modal}] {
    left: #{$offset}vw;
    top: #{$offset}vw;
  }
  $offset: $offset + 3;
}

/* purgecss end ignore */

.c-modal.is-visible {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.c-modal__header {
  justify-content: space-between;
  padding: units(0.5) var(--vertical);
  cursor: move;

  .u-bigText {
    margin: 0;
    pointer-events: none;
  }
}

.c-modal__close {
  height: var(--vertical);
  width: var(--vertical);
  position: relative;
  transform-origin: center;

  &::before,
  &::after {
    height: var(--vertical);
    width: 3px;
    background-color: #fff;
    left: 50%;
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}

.c-modal__footer {
  width: 100%;
  color: #fff;
  background-color: $cDarkGrey;
  display: flex;
  flex-wrap: wrap;
}

.c-modal__value {
  white-space: nowrap;
  line-height: var(--vertical);
  padding: units(0.5) var(--vertical);
  font-size: ms(-3);
}

.c-modal__resize {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid $cRed;
  border-left: 20px solid transparent;
  cursor: nwse-resize;
}
