.c-modal {
  position: absolute;
  width: 35vmax;
  background-color: #fff;
  box-shadow: 0 10px 23px rgba(0, 0, 0, 0.25);
  display: flex;
  border: 3px solid #fff;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
}

.c-modal.is-visible {
  display: flex;
}

.c-modal__header {
  justify-content: space-between;
  padding: units(0.5) var(--vertical);
  cursor: move;

  .u-bigText {
    margin: 0;
    pointer-events: none;
  }
}

.c-modal__close {
  height: var(--vertical);
  width: var(--vertical);
  position: relative;
  transition: 300ms;
  transform-origin: center;

  &::before,
  &::after {
    height: var(--vertical);
    width: 3px;
    background-color: #fff;
    left: 50%;
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }

  &:hover {
    transform: rotate(45deg);
  }
}

.c-modal__footer {
  width: 100%;
  color: #fff;
  background-color: $cDarkGrey;
  display: flex;
}

.c-modal__value {
  white-space: nowrap;
  line-height: var(--vertical);
  padding: units(0.5) var(--vertical);
  font-size: ms(-3);
}

.c-modal__resize {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid $cRed;
  border-left: 20px solid transparent;
  cursor: nwse-resize;
}
