.c-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;

  &__item {
    &:nth-child(1),
    &:nth-child(5) {
      align-self: flex-start;
    }

    &:nth-child(2) {
      align-self: center;
    }
  }
}
