.c-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.c-nav__item {
  line-height: var(--vertical);
}

/* purgecss start ignore */

button {
  &[data-button-light] {
  }

  &[data-button-movement] {
  }

  &[data-button-pressure] {
  }

  &[data-button-sound] {
  }

  &[data-button-temperature] {
  }

  &[data-button-touch] {
  }
}

/* purgecss end ignore */
