.u-hideText {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%;
}

.u-bigText {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: normal;
  font-size: ms(-1);
  text-transform: lowercase;
  color: #fff;
}

.u-bold {
  font-variation-settings: 'wght' 500;
}
