.u-bigText {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: normal;
  font-size: ms(-1);
  // font-variation-settings: 'wght' 900;
  text-transform: lowercase;
  line-height: var(--vertical);
  color: #fff;
}

.u-bold {
  font-variation-settings: 'wght' 500;
}
