$cDarkGrey: #1b1d1c;
$cRed: #ff4552;
$cEgg: #efe8d8;

.t-darkGrey {
  background-color: $cDarkGrey;
  color: #fff;
}

.t-red {
  background-color: $cRed;
  color: #fff;
}

.t-egg {
  background-color: $cEgg;
}
