@font-face {
  font-family: 'ETC Trispace Variable';
  src: url('../fonts/ETCTrispaceVariable.woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGroteskVariable.ttf');
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Variable.woff2');
}

@font-face {
  font-family: 'Grade';
  src: url('../fonts/GradeGX4-GX-fixed-axis-name.woff2');
}
