@font-face {
  font-family: 'Space Grotesk Variable';
  src: url('../fonts/SpaceGroteskVariable.ttf');
}

@font-face {
  font-family: 'Mutator Sans Variable';
  src: url('../fonts/MutatorSans.woff2');
}

@font-face {
  font-family: 'Tiny Variable';
  src: url('../fonts/tiny_variable.ttf');
}

@font-face {
  font-family: 'Kyiv*Type Serif Variable';
  src: url('../fonts/kyivtype_serif_variable.ttf');
}

@font-face {
  font-family: 'Agrandir Variable';
  src: url('../fonts/agrandir_variable.woff2');
}

@font-face {
  font-family: 'Decovar Variable';
  src: url('../fonts/decovar_variable.ttf');
}

@font-face {
  font-family: 'Syne Variable';
  src: url('../fonts/syne_variable.ttf');
}
