body {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  outline: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

p {
  margin: 0;
}

::selection {
  background: $cRed;
}
