@function units($value) {
  @return calc(var(--vertical) * #{$value});
}

$modularscale: (
  base: 1em,
  ratio: 1.333
);

$fontSize: 3vmin;

:root {
  --vertical: calc((1.4 * #{$fontSize}) / 2);
}

html {
  font-size: #{$fontSize};
}

body {
  font-family: 'League Mono Variable', sans-serif;
  font-variation-settings: 'wght' 450, 'wdth' 70;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  line-height: 1.4;
}
