@function units($value) {
  @return calc(var(--vertical) * #{$value});
}

$modularscale: (
  base: 1em,
  ratio: 1.333
);

:root {
  --font-size: 3vmin;

  // @include desktopXL {
  //   --font-size: 2.2vmin;
  // }

  @include mobile {
    --font-size: 3vmin;
  }

  // @include tablet {
  //   --font-size: 2vmin;
  // }

  --vertical: calc((1.4 * var(--font-size)) / 2);
}

html {
  font-size: var(--font-size);
}

body {
  font-family: 'League Mono Variable', sans-serif;
  font-variation-settings: 'wght' 450, 'wdth' 70;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  line-height: 1.4;
}
