.l-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.l-container--bottom {
  flex-direction: row;
  height: 40vh;
}

.l-container__item {
  flex-grow: 1;
  padding: units(2) units(5);
}

.l-container__item--banner {
  flex-grow: 0;
  padding: units(0.5) 0;
}

.l-container__item--nav {
  padding: units(2) units(5);
  max-width: units(22);
}
