extends templates/default.pug

append setup
  - const page = 'home'
  - const title = 'Lab'
  -
    const modals = {
      light: 'Luminosité',
      sound: 'Sonorité',
      movement: 'Mouvement',
      temperature: 'Température',
      pressure: 'Pression',
      touch: 'Touché'
    }

block header
  include layouts/home/header.pug

prepend modalArea
  - const experience = true

block footer
  include layouts/home/footer.pug
