extends templates/default

append config
  - const page = 'home'
  - const title = 'Expériences'
  - const sections = experiences

block header
  include layouts/home/header

prepend modalsArea
  - const hasExperiences = true

  include layouts/home/overallExperience

block footer
  include layouts/home/footer
