//- Create sentences for the light experience.

include ../../sentence.pug

+sentence('Être plongé dans l\'ambiance lumineuse environnante.')
+sentence('Être plongé dans l\'ambiance lumineuse environnante.')
+sentence('Être plongé dans l\'ambiance lumineuse environnante.')
