//- Create sentences for the sound experience.

include ../../sentence.pug

+sentence('Visualiser les vibrations acoustiques, la relation entre entendre et voir.')
+sentence('Visualiser les vibrations acoustiques, la relation entre entendre et voir.')
+sentence('Visualiser les vibrations acoustiques, la relation entre entendre et voir.')
