footer.l-container.l-container--bottom

  .l-container__padded.c-about.t-darkGrey.u-center: p.
    Mettre en application les différentes fonctionnalités des variable fonts en les associant
    à des données physiques et dynamiques liées à l’utilisateur et son environnement.

  include ../nav
