footer.section.section--footer

  div.about.bgBlack: p.
    Mettre en application les différentes fonctionnalités des variable fonts en les associant
    à des données physiques et dynamiques directement liées à l’utilisateur et son environnement.

  include ../nav
