footer(class='l-container l-container--bottom')

  div(class='l-container__item t-darkGrey u-verticalCenter'): p(class='c-about')
    | Mettre en application les différentes fonctionnalités des variable fonts en les associant
    | à des données physiques et dynamiques liées à l’utilisateur et son environnement.

  include ../navigation
