header.l-container

  .l-container__padded.c-hero.t-egg.u-center: p.c-hero__content
    | #[strong.bold ConstanteSans] est un projet expérimental
    | visant à explorer un potentiel, un futur de la typographie sur le web.

  ul.c-banner
    li.c-banner__item données variables du monde réel
    li.c-banner__item variable fonts
    li.c-banner__item expériences utilisateur variables
