header(class='l-container')

  div(class='l-container__padded c-hero t-egg u-center'): p(class='c-hero__content')
    | #[strong(class='bold') ConstanteSans] est un projet expérimental
    | visant à explorer un potentiel, un futur de la typographie sur le web.

  ul(class='c-banner')
    li(class='c-banner__item') données variables du monde réel
    li(class='c-banner__item') variable fonts
    li(class='c-banner__item') expériences utilisateur variables
