header(class='l-container')
  div(class='l-container__item u-verticalCenter t-egg')

    h1(class='c-logo')
      span(class="c-logo__letter") C
      span(class="c-logo__letter") o
      span(class="c-logo__letter") n
      span(class="c-logo__letter") s
      span(class="c-logo__letter") t
      span(class="c-logo__letter") a
      span(class="c-logo__letter") n
      span(class="c-logo__letter") t
      span(class="c-logo__letter") e
      span(class="c-logo__letter") S
      span(class="c-logo__letter") a
      span(class="c-logo__letter") n
      span(class="c-logo__letter") s

    p(class='c-hero')
      | Un projet expérimental visant à explorer un&nbsp;potentiel,
      | un&nbsp;futur de&nbsp;la&nbsp;typographie&nbsp;sur&nbsp;le&nbsp;web.

    a(class="demo" href="https://www.youtube.com/watch?v=MQnHiR_Nj_M&feature=youtu.be" target="_blank" rel="noopener noreferrer") Démo de l'expérience

  div(class='l-container__item l-container__item--banner'): ul(class='c-banner')
    li(class='c-banner__item') données variables du monde réel
    li(class='c-banner__item') variable fonts
    li(class='c-banner__item') expériences utilisateur variables
    li(class='c-banner__item') données variables du monde réel
    li(class='c-banner__item') variable fonts
    li(class='c-banner__item') expériences utilisateur variables
