header(class='l-container')

  div(class='l-container__item u-verticalCenter t-egg'): p(class='c-hero')
    | #[strong(class='u-bold') ConstanteSans] est un projet expérimental
    | visant à explorer un potentiel, un futur de la typographie sur le web.

  div(class='l-container__item l-container__item--banner'): ul(class='c-banner')
    li(class='c-banner__item') données variables du monde réel
    li(class='c-banner__item') variable fonts
    li(class='c-banner__item') expériences utilisateur variables
