section(class='c-overallModal')
  ul(class='c-overallModal__header')
    li: h2(class='c-overallModal__title u-bigText') Expérience globale
    li(class='c-overallModal__toggle'): button(class='u-hideText') ouvrir
  div(class='c-overallModal__content')
    p.
      Un support #[span(class='c-experience c-experience--vibration') virtuel] influencé #[span(class='c-experience c-experience--sound') par le réel], #[span(class='c-experience c-experience--humidity') mettre en relation la typographie], l'utilisateur,
      #[span(class='c-experience c-experience--temperature') l'environnement et] #[span(class='c-experience c-experience--movement') la nature].#[span(class='c-experience c-experience--vibration') Retranscrire une dynamique],
      #[span(class='c-experience c-experience--light') une  sensation],  #[span(class='c-experience c-experience--sound') une émotion, un invisible], #[span(class='c-experience c-experience--movement') une expérimententation autour de l'intéraction] et l'immersion.
