@charset 'utf-8';

// Dependencies
@import '~modularscale-sass';

// Settings
@import './utils/responsive';
@import './settings/colors';
@import './settings/reset';
@import './settings/fonts';
@import './settings/typography';

// Helpers
@import './utils/display';
@import './utils/text';

// Layouts
@import './layouts/container';

// Components
@import './components/logo';
@import './components/hero';
@import './components/banner';
@import './components/about';
@import './components/navigation';
@import './components/modal';
@import './components/experience';
@import './components/overallModal';

// Others
@import './others/states';

.demo {
  position: fixed;
  top: 40px;
  right: 40px;
  color: $cRed;
  text-decoration: none;
}
