//- Create a modal for each experience.

include modal-item.pug
include sentence.pug

mixin modal (id, content)

  - const attribute = `data-modal-${id}`

  section(class='modal')&attributes({[attribute]: ''})

    .modal__header
      h2(class='modal__title')= content
      button(class='modal__button') Close

    div(class=`experience experience--${id}`)
      include experiences/sentences.pug

    .modal__footer
      ul(class='modal__list')
        include experiences/values.pug
