nav(class='l-container__item l-container__item--nav t-red'): ul(class='c-nav')

  each button, id in sections
    li.c-nav__item

      - const attribute = `data-button-${id}`
      button(class='u-bigText')&attributes({[attribute]: ''})=button.name
