nav(class='l-container__item l-container__item--nav t-red'): ul(class='c-nav')

    each button, id in sections
      li(class=`c-nav__item c-nav__item--${id}`)

        - const attribute = `data-button-${id}`
        button(class='u-bigText')&attributes({[attribute]: ''})=button.name
